Port 12001
AuthorizedKeysFile /home/tdkuehnel/Projekte/src/ncot/tests/node01/.ssh/authorized_keys
AuthorizedKeysFile /home/tdkuehnel/Projekte/src/ncot/tests/node02/.ssh/authorized_keys
AuthorizedKeysFile /home/tdkuehnel/Projekte/src/ncot/tests/node03/.ssh/authorized_keys
